## This is a example of how you will be doing projects in python.
### Use markdown cells -OR- comments in cells to place AT LEAST the question number you are working on.

3.	Import the required packages

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

4. Using the pandas `read_csv()` method, read the GDP dataset into your notebook as a DataFrame called `gdp_df`. Take a look at the first few and last few rows to familiarize yourself with what is contained in this dataset.

In [5]:
gdp_df = pd.read_csv('../data/gdp_percapita.csv')

5. How many rows and columns are in `gdp_df`? What are the data types of each column?

In [7]:
### 8219 Rows and 4 columns

In [8]:
gdp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8219 entries, 0 to 8218
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  8219 non-null   object
 1   Year             8219 non-null   int64
 2   Value            8219 non-null   float64
 3   Value Footnotes  0 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 257.0+ KB

6. Drop the `Value Footnotes` column and rename the remaining three to 'Country', 'Year', and 'GDP_Per_Capita'

In [10]:
gdp_df = gdp_df.drop(columns=['Value Footnotes'])

In [11]:
gdp_df.columns = ['Country','Year','GDP_Per_Capita']

7. How many countries have data for all years? Which countries are missing many years of data? Look at the number of observations per year. What do you notice?

In [13]:
missing_years = gdp_df['Country'].value_counts().reset_index()

In [14]:
missing_years[missing_years['count'] < 34]

                       Country  count
228                     Bhutan     33
229       Syrian Arab Republic     33
230                    Somalia     33
231                      Tonga     33
232                    Lebanon     33
233                  Greenland     32
234         West Bank and Gaza     30
235                     Serbia     29
236                 Montenegro     27
237                 San Marino     26
238                   CuraÃ§ao     24
239                Afghanistan     24
240             Virgin Islands     21
241             Cayman Islands     18
242              Faroe Islands     16
243                     Kosovo     16
244  Sint Maarten (Dutch part)     15
245   Turks and Caicos Islands     13
246                   Djibouti     11

In [15]:
missing_years[missing_years['count'] < 34].count()

Country    19
count      19
dtype: int64

In [16]:
all_data = gdp_df['Country'].value_counts().reset_index()

In [17]:
all_data[all_data['count'] >= 34]

                                Country  count
0                                Latvia     34
1                         North America     34
2                              Mongolia     34
3                               Morocco     34
4                            Mozambique     34
..                                  ...    ...
223                               Ghana     34
224                              Greece     34
225                   Equatorial Guinea     34
226                             Grenada     34
227  Europe & Central Asia (IDA & IBRD)     34

[228 rows x 2 columns]

In [18]:
all_data[all_data['count'] >= 34].count()

Country    228
count      228
dtype: int64

In [19]:
all_data

                       Country  count
0                       Latvia     34
1                North America     34
2                     Mongolia     34
3                      Morocco     34
4                   Mozambique     34
..                         ...    ...
242              Faroe Islands     16
243                     Kosovo     16
244  Sint Maarten (Dutch part)     15
245   Turks and Caicos Islands     13
246                   Djibouti     11

[247 rows x 2 columns]